#product_form {
    border: 1px solid black;
    width: 640px;
    min-height: 70vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }